body {
    background: url("../images/mirror2.jpg");
}
#heading {
    background: black;
    color: white;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}
#description {
    background: rgb(128, 0, 0);
    color: white;
    width: 100%;
    max-width: 600px;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 15px;
}
#numbercontainer {
    background: black;
    color: white;
    height: 20vh;
    width: 100%;
    max-width: 300px;
    margin-left: 15px;
}
#numberToMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;   
}
#tracker {
    background: maroon;
    color: white;
    height: 20vh;
    width: 100%;
    max-width: 120px;
    margin-left: 10px;
}
#wins {
    margin-top: 20px;
    color: white;
}
#losses {
    margin-top: 20px;
    color: white;
}
.jewel {
    height: 15vh;
    width: 100%;
    max-width: 100px;
    margin-top: 10px;
}
img.size {
    width: 100px;
    height: 100px;
}
#totalScore {

    background: black;
    color: white;
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    padding: 5px;
}
#wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: maroon;
    color: white;
    height: 20vh;
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 50px;
}
#scoreFromJewels {
    font-size: 50px;
}